<div>
	<%= form_for(:session, url: signin_path) do |f| %>
		<h2>Contributor Sign In</h2>
		<div>
			<%= f.label :key %>
			<%= f.text_field :key %>
		</div>
		<div>
			<%= f.label :password %>
			<%= f.password_field :password %>
		<div>
		<div>
			<%= f.submit %>
		</div>
	<% end %>
</div>
<br />
<br />
<div>
	<div class="contributor-up-form">
		<%= form_for(:contributor, url: contributors_path) do |f| %>
			<h3>New Contributor?</h3>
			<div class="Sign-up-field">
				<%= f.label "First Name" %>
				<%= f.text_field :fname %>
			</div>

			<div class="Sign-up-field">
				<%= f.label "Last Name" %>
				<%= f.text_field :lname %>
			</div>

			<div class="Sign-up-field">
				<%= f.label "AKA (Optional)" %>
				<%= f.text_field :aka %>
			</div>

			<div class="Sign-up-field">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</div>	

			<div class="Sign-up-field">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>

			<div class="Sign-up-field">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div class="Sign-up-field">
				<%= f.label "Profile Picture" %>
				<%= f.file_field :avatar %>
			</div>

			<div class="Sign-up-field">
				<%= f.label "Twitter" %>
				<%= f.text_field :twitter %>
			</div>

			<div class="Sign-up-field">
				<%= f.label :bio %>
				<%= f.text_area :bio %>
			</div>

			<div id="actions">
				<%= f.submit %>
			</div>

		<% end %>
	</div>

</div>