<div>
	<%= form_for @user do |f| %>
		<div>
			<%= f.label "First Name" %>
			<%= f.text_field :fname %>
		</div>

		<div>
			<%= f.label "Last Name" %>
			<%= f.text_field :lname %>
		</div>

		<div>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>

		<div>
			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>	

		<div>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>

		<div>
			<%= f.label "Profile Picture" %>
			<%= f.file_field :avatar %>
		</div>

		<div>
			<%= f.label "Twitter" %>
			<%= f.text_field :twitter %>
		</div>

		<div>
			<%= f.label :bio %>
			<%= f.text_area :bio %>
		</div>

		<div>
			<%= f.submit %>
		</div>

	<% end %>
</div>
<br />
<br />
<br />
<div>
	<%= button_to "Delete Account", {controller: :users, action: :destroy}, {method: :delete} %>
</div>
