<div>
	<%= form_for @user do |f| %>
		<h4>Welcome! Tell us a little about yourself to get started!</h4>
		<div>
			<%= f.label "First Name" %>
			<%= f.text_field :fname %>
		</div>

		<div>
			<%= f.label "Last Name" %>
			<%= f.text_field :lname %>
		</div>

		<div>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>

		<div>
			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>	

		<div>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>

		<div>
			<%= f.label "Profile Picture" %>
			<%= f.file_field :avatar %>
		</div>

		<!-- users twitter and bio intentionally left out for now -->


		<div>
			<%= f.submit %>
		</div>

	<% end %>
</div>
