<%= form_for @episode, url: show_episodes_path(@show.id), multipart: true do |f| %>

  <div class="field">

    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :video %>
    <%= f.file_field :video %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Cancel', root_path, class: 'button' %>
  </div>
<% end %>