<div class="new-episode-container">
  <%= form_for @episode, url: show_episodes_path(@show.id), multipart: true do |f| %>
    
    <div class="field">
      <h4>Title</h4>
      <%= f.text_field :title, class: "field-input" %>
      <h4>Description</h4>
      <%= f.text_field :description, class: "field-input" %>
      <br />
      <br />
      <%= f.file_field :video %>
    </div>

    <%= f.submit "!", class: "submit" %>
   
  <% end %>
</div>