<!-- have this info display over video and show only on hover -->
<h3><%= @episode.title %></h3>
<h5><%= @episode.show.name %></h5>
<%= @episode.description %>
<br />
<br />
<%= link_to "Back to #{Show.find(@episode.show_id).name}", show_path(@episode.show_id) %>
<br />
<br />
<%= link_to "Edit", edit_episode_path(@episode.id) %>
<br />
<%= video_tag @episode.video.url, controls: true %>
<br />
<!-- <div>
	Area to index contributos in show
	<h4>Contributors</h4>
</ div> -->

<!-- users can browse other episodes on click without leaving current episode -->

<div>
	<h4>All Episodes</h4>
	<% @show.episodes.each do |e| %>
		<div>
			<!-- episode thumbnail goes here, find out how to get it -->
			<h3><%= e.title %></h3>
			<br />
			<br />
			<%= e.description %>
		</div>
		<br />		
		<br />		
	<% end %>
</div>


