<div id='landing-container'>
	<div class='nav'>
		<ul>
			<a href="/"><div class="home-logo"></div></a>
		</ul>
	</div>
	<!-- logged-info was here -->

	<div id="brand">
		<h3 id="brand-name">Venue</h3>
	</div>
</div>
<a name="shows"></a>
<div class="shows-index">
	<%= render 'shows/index' %>	

</div>
<div class="homepage-video-container">
	<% if @ran_epi %>
		<div class="homepage-video">
			<%= video_tag @ran_epi.video.url, width: '500', height: '250', controls: true, class: 'homepage-episode' %>
		</div>
		<div class="homepage-video2-info">
				<h2><%= truncate("#{@ran_epi.title}", length: 30) %></h2>
				<h3><%= truncate("#{@ran_epi.show.name}", length: 35) %></h3>
				<%= image_tag @ran_epi.show.image.url, width: '200', height: '200', class: 'homepage-video2-info-img' %>

		</div>
	<% end %>
	<div class="contributor-index-container">
		<div class="contributor-index-label">
		</div>
		<% if @contributors %>
			<% @contributors.each do |c| %>
				<div class="contributor-instance">
					<a href=<%= contributor_path(c.id) %> >
						<%= image_tag c.avatar.url, width: '150', height: '150' %>
					</a>
				</div>
			<% end %>
		<% end %>
	</div>
	<br clear='all' />
	<footer>
		<h4>Venue 2016</h4>
	</footer>
</div>