<div>

	<h2>New Show</h2>
	<%= form_for @show, url: show_path, action: :post, multipart: true do |f| %>

		<div>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div>
			<%= f.label :desc %>
			<%= f.text_area :desc %>
		</div>

		<div>
			<%= f.label :image %>
			<%= f.file_field :image %>
		</div>

		<br />
		<div>
			<%= f.submit %>
		</div>
	<% end %>
	
</div>