<div>
	<h2><%= @show.name %></h2>
	<%= image_tag @show.image.url(:medium) %>
	<% @show.episodes.each do |e| %>
		<div>
			<div>
				<h3><%= e.title %></h3>
			</div>
			<%= video_tag e.video.url, controls: true%>
		</div>
	<% end %>
	<br />
	<br />
	<% if @show.contributors.include? current_contributor %>
		<div>
			<h3>Add episode</h3>
			<%= render 'episodes/new' %>
		</div>
		<br />
		<br />
	<% end %>
</div>