<div>
	<h2><%= @show.name %></h2>
	<%= image_tag @show.image.url(:medium) %>
	<br />
	<br />
	<%= @show.desc %>
	<br />
	<% if @show.contributors.include? current_contributor %>
		<%= link_to "Edit Show Info", edit_show_path(@show.id) %>
	<% end %>
	<div>
		<h3>Episodes</h3>
		<% @show.episodes.each do |e| %>
			<div>
				<div>
				<a href=<%= episode_path(e.id) %> >
					<h3><%= e.title %></h3>
				</a>
				</div>
				<!-- index episode by thumbnail, not actual video (find out how) -->
				<%= video_tag e.video.url, controls: true	 %>
			</div>
		<% end %>
	</div>
	<div>
		<h3>Lead Contributor</h3>
		<% @show.contributors.each do |c| %>
			<div>
				<a href=<%= contributor_path(c.id) %> >
					<% if c.aka != "" %>
						<h3><%= c.aka %></h3>
					<% else %>
						<h3><%= fullname(c) %></h3>
					<% end %>
				</a>
				<br />
				<a href=<%= contributor_path(c.id) %> >
					<%= image_tag c.avatar.url(:thumb) %>
				</a>
			</div>
			<br />
		<% end %>
	</div>
</div>