<div class="show-wide-container">
	<div class='nav'>
		<ul>
			<a href="/#shows"><div class="home-logo"></div></a>
		</ul>
	</div>
	<div class="show-container">
		<div class="show-show-episode-container">
			<div class="show-episode-info">
				<h2><%= @show.name %></h2>
				<br />
				<%= image_tag @show.image.url(:medium) %>
				<br />
				<br />
				<%= @show.desc %>
				<br />
				<% if @show.contributors.include? current_contributor %>
					<%= link_to "Edit Show Info", edit_show_path(@show.id) %>
				<% end %>
			</div>
			<div class="show-episode-container">
				<% if @show.episodes.last %>
					<div class='show-episode-title'>
						<%= link_to "#{@show.episodes.last.title}",episode_path(@show.episodes.last.id) %> 
					</div>
					<%= video_tag @show.episodes.last.video.url, width: '600', height: '400', controls: true, class: 'show-latest-episode' %>
				<% else %>
					<br />
					<h3>Stay tuned for <%= @show.name %> episode one!</h3>
				<% end %>
			</div>
		</div>
		<div class="show-create-container">
			<%= render 'episodes/new' %>
		</div>
	</div>
</div>
