<header>
		<div class='nav'>
			<ul>
			<div class="logo"></div>
				<!-- add splash page, then root path will be shows index -->
				<li><%= link_to "Shows", shows_path, class: "nav-links" %></li>
				<li><%= link_to "Contributors", contributors_path, class: "nav-links" %></li>
			</ul>
			<% if current_user || current_contributor %>
				<%= link_to "Log Out", logout_path, method: :delete %> 
			<% end %>
		</div>
	</header>
	<div class="show-container">
		<div class="logged-info">
			<% if current_user %>
				<div>
					<h4>Logged in as <%= current_user.username %></h4>
				</div>

				<li><%= link_to "Home", user_path(current_user.id), class: "nav-links" %></li>

			<% elsif current_contributor %>
				<div>
					<h4>Logged in as <%= fullname(current_contributor) %></h4>
				</div>

				<li><%= link_to "Home", contributor_path(current_contributor.id) %></li>

			<% else %>
				<div class="sign-up-prompt">
					<h4><%= link_to "Log in/Sign up", root_path %> For Exclusive Contests, Events, Promotions, and More!</h4>
				</div>	
			<% end %>	
		</div>
<% @contributors.each do |c| %>
	<div>
		<% if c.aka != ""%>
			<a href=<%= contributor_path(c.id) %> ><%= c.aka %></a>
		<% else %>
			<a href=<%= contributor_path(c.id) %> ><%= fullname(c) %></a>
		<% end %> 
	</div>
	<div>
	<a href=<%= contributor_path(c.id) %> ><%= image_tag c.avatar.url(:thumb) %></a>
	</div>
	<% if c.shows %>
	<div>
		<% c.contributor_shows.each do |s| %>
			<%= link_to Show.find(s.show_id).name, show_path(s.show_id) %>
		<% end %>
	</div>
	<% end %>
<% end %>
<% if !current_contributor  %>
	<div id="contributor-sign-in">
		<%= link_to "Contributors", signin_path %>
	</div>
<% end %>