<div class="contributor-wide-container">
	<header>
			<div class='nav'>
				<ul>
				<div class="logo"></div>
				<div class="nav-link-container">
					<li><%= link_to "Shows", shows_path, class: "nav-links" %></li>
					<li><%= link_to "Contributors", contributors_path, class: "nav-links" %></li>
				</div>
				</ul>
				<% if current_user || current_contributor %>
					<%= link_to "Log Out", logout_path, method: :delete %> 
				<% end %>
			</div>
	</header>
	<div class="homepage-video-container">
		<div class="homepage-video">
			<%= video_tag @ran_epi.video.url, width: '500', height: '250', controls: true, class: 'homepage-episode' %>
		</div>
		<div class="homepage-video-info">
			<h2><%= truncate("#{@ran_epi.title}", length: 30) %></h2>
			<h4><%= truncate("#{@ran_epi.description}", length: 70) %></h4>
		</div>
	</div>
	<div class="contributor-index-container">
		<h2>Contributors</h2>
		<div>
			<% @contributors.each do |c| %>
				<div class="contributor-instance">
					<a href=<%= contributor_path(c.id) %> ><%= image_tag c.avatar.url, width: '250', height: '250', class: 'contributor-image' %></a>
				</div>
			<% end %>
		</div>
	</div>

</div>