<header>
	<div class='nav'>
		<ul>
			<a href="/#shows"><div class="home-logo"></div></a>
		</ul>
	</div>
	<!-- logged-info was here -->
<div class="contributor-show-container">
	<div class="cont-show-info">
		<% if @contributor.aka != "" %>
			<h2><%= @contributor.aka %></h2>
		<% else %>
			<h2><%= fullname(@contributor) %></h2>
		<% end %>
		<br />
		<%= image_tag @contributor.avatar(:medium) %>	
		<% if @contributor.since %>
			<h3>Contributor Since <%= @contributor.since %></h3>
		<% end %>
		<div>
			<% if @contributor == current_contributor %>
				<%= link_to "Edit Profle", edit_contributor_path %>
			<% end %>
		</div>
		<div class="cont-show-bio">
			<h2>Bio:</h2>
			<div>
				<h4><%= @contributor.bio %></h4>
			</div>
		</div>
		<div class="show-index">
			<% @contributor.shows.each do |show| %>
				<a href="/shows/#{show.id}">
					<div class="show-instance">
						<%= image_tag show.image.url(:thumb) %>
						<h4><%= show.name %></h4>
					</div>
				</a>
			<% end %>
			<div>
				<h1><%= fullname(@contributor) %></h1>
				<h4>No shows yet!</h4>
			</div>	
		</div>

		<% if current_contributor == @contributor %>
			<div>
				<%= render 'shows/new' %>
			</div>
		<% end %>
	</div>
	<div class="cont-show-epi-rand">
	<% if @episode %>
		<h3><%= truncate("#{@episode.title}", length: 70 ) %></h3>
		<h4><%= truncate("#{@episode.show.name}", length: 70) %></h4>
		<%= video_tag @episode.video.url, controls: true, width: '440', height: '440', class: 'cont-show-video' %>
	<% end %>
	</div>
	<div class="twitter-container">
		<a class="twitter-timeline" data-width="500" data-dnt="true" data-theme="dark" href=<%= "https://twitter.com/#{@contributor.twitter}" %> >Tweets by<% if @contributor.aka %> <%= @contributor.aka %><% else %> <%= fullname(@contributor) %><% end %></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<br clear="all" />
</div>	

