<h2><%= fullname(@contributor) %></h2>

<%= link_to "Edit Profle", edit_contributor_path %>
<%= image_tag @contributor.avatar(:medium) %>

<!-- run if statement to display tweets by full name or aka  -->
<a class="twitter-timeline" data-theme="dark" href=<%= @contributor.twitter %> >Tweets by <%= fullname(@contributor) %></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<% if current_contributor == @contributor %>

	<div>
		<%= render 'shows/new' %>
	</div>
<% end %>