<!DOCTYPE html>
<html>
<head>
  <title>Venue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>

	<div class='nav'>
		<ul>
			<!-- add splash page, then root path will be shows index -->
			<li><%= link_to "Landing", root_path %></li> 
			<% if current_user %>
				<li><%= link_to "Home", user_path(current_user.id) %></li>
			<% elsif current_contributor %>
				<li><%= link_to "Home", contributor_path(current_contributor.id) %></li>
			<% else %>
				<li><%= link_to "Log In/ Sign Up", root_path %></li>
			<% end %>	
			<li><%= link_to "Shows", shows_path %></li>
			<li><%= link_to "Contributors", contributors_path %></li>
		</ul>
		<% if current_user || current_contributor %>
			<%= link_to "Log Out", logout_path, method: :delete %> 
		<% end %>
	</div>
	<div id="app-container">
		<%= yield %>
	<div>

</body>
</html>
