<!DOCTYPE html>
<html>
<head>
  <title>Venue</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon-1.png' %>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Varela" rel="stylesheet">

</head>
<body>
	<div class="app-container">
		<%= yield %>
	</div>

</body>
</html>
